CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Gui/build-Test_Gui-Desktop_Qt_6_6_0_MinGW_64_bit-Release/
Gui/build-Test_Gui-Desktop_Qt_6_6_0_MinGW_64_bit-Debug/
Gui/build-Test_Groups-Desktop_Qt_6_6_0_MinGW_64_bit-Debug/
Gui/build-Test_Groups-Desktop_Qt_6_6_0_MinGW_64_bit-Release/
Gui/build-ThreadedEcho-Desktop_Qt_6_6_0_MinGW_64_bit-Debug/
.vscode